@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <img style="margin-top: 150px; width: 400px; height: 150px;" src="https://lojainterativa.com/wp-content/uploads/2019/11/Layer-1-1-300x103.png" />
    </div>
</div>
